alembic==1.17.2
backports.zstd==1.5.0
bcrypt==5.0.0
bleach==6.3.0
blinker==1.9.0
brotli==1.2.0
cachelib==0.13.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
cloudinary==1.44.1
colorama==0.4.6
Deprecated==1.3.1
dotenv==0.9.9
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Caching==2.3.1
Flask-Compress==1.24
Flask-Limiter==4.1.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.2.4
gunicorn==21.2.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
Mako==1.3.10
Markdown==3.10.2
markdown-checklist==0.4.4
MarkupSafe==3.0.3
ordered-set==4.1.0
packaging==25.0
pillow==12.0.0
psycopg==3.2.3
psycopg-binary==3.2.3
python-dotenv==1.2.1
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
webencodings==0.5.1
Werkzeug==3.1.3
wrapt==2.1.1
WTForms==3.2.1
